.footer-parent {
    background-color: #29282B;
    // margin: 5rem 0rem;
    // position: relative;
}

.footer_main {
    display: flex;
    justify-content: space-between;
    // margin: 76px 0px 146px 0;
    position: relative;
}

.header {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 22px;
    letter-spacing: 0.35px;
    line-height: 33px;
}

.footer {
    padding: 70px 0;

    &_items {
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.26px;
        line-height: 36px;
    }

    &_followUs {
        position: absolute;
        z-index: 1;
        right: -23rem;
        color: #FFFFFF;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        bottom: 0;
    }

    &_header {
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 33px;
        padding-right: 5rem;
    }

    &_quote {
        text-align: center;
        color: #FFFFFF;
        font-family: Aileron;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 17px;
    }

    &_icons {
        display: flex;
        justify-content: space-between;
        width: 25%;
        align-items: center;
    }

    &_img {
        height: 30px;
        width: 30px;
        color: #FFFFFF;
    }

    &_copyright {
        padding-top: 50px;
    }
}

@media only screen and (max-width:400px) {

    .footer-parent {
       display: flex;
    }

    .footer_main {
        display: none;
    }

    .footer {
        &_copyright {
            padding-top: 5px;
        }
    }

}
@media only screen and (max-width:500px) {

    .footer-parent {
       display: flex;
    }

    .footer_main {
        display: none;
    }

    .footer {
        &_copyright {
            padding-top: 5px;
        }
    }

}